<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>表情包</title>
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/global.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
</head>

<body>
<div class="admin-main">
    <fieldset class="layui-elem-field ">
        <legend>表情包{:lang('list')}</legend>
        <div class="layui-field-box table-responsive">
            <form method="post" id="formSearch" action="{:url('facegroup')}">
                <div class="demoTable" style="margin-bottom: 10px;">
                    搜索用户：
                    <div class="layui-inline">
                        <input class="layui-input" value="{$keyword}" name="keyword" id="username" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
            </form>
            <table class="layui-table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>用户</th>
                    <th>表情包描述</th>
                    <th>制作时间</th>
                    <th>{:lang('action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                    <td>{$v.ufa_id}</td>
                    <td>{$v.use_nickname}</td>
                    <td>{$v.ufa_title}</td>
                    <td>{$v.ufa_time}</td>
                    <td>
                        <a href="{:url('facegroupEdit',['ufa_id'=>$v['ufa_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                        <a href="javascript:;" onclick="return del('{$v.ufa_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                        <a href="{:url('facegroupView')}?ufa_userid={$v.use_id}" class="layui-btn layui-btn-mini">该用户表情包详情</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>

        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="page" class="page">
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN__/plugins/layui/layui.js"></script>
<script src="__STATIC__/js/jquery.2.1.1.min.js"></script>
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
        $('.demoTable .layui-btn').on('click', function(){
            $("#formSearch").submit();
        });
    });

    function del(id) {
        layer.confirm('{:lang("Are you sure you want to delete it")}', {icon: 3}, function (index) {
            window.location.href = "{:url('facegroupDel')}?ufa_id="+id;
        });
    }

</script>
</body>

</html>