<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>机构评论信息</title>
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/global.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
</head>

<body>
<div class="admin-main">
    {if condition="$Think.const.ORG_ID elt 0"}<blockquote class="layui-elem-quote">
        <a href="{:url('commentAdd')}" class="layui-btn layui-btn-small">
            <i class="fa fa-plus"></i> {:lang('add')}机构评论
        </a>
    </blockquote>{/if}
    <fieldset class="layui-elem-field ">
        <legend>机构评论信息</legend>
        <div class="layui-field-box table-responsive">
            <table class=" layui-table table-hover">
                <thead>
                <tr>
                    <th>排序</th>
                    <th>机构</th>
                    <th>评论用户</th>
                    <th>评分</th>
                    <th>浏览量</th>
                    <th>留言数</th>
                    <th>评论内容</th>
                    <th>评论时间</th>
                    {if condition="$Think.const.ORG_ID elt 0"}<th>操作</th>{/if}
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                    <td>{$v.oco_id}</td>
                    <td>{$v.org_name}</td>
                    <td>{$v.use_nickname}</td>
                    <td>{$v.oco_grade}</td>
                    <td>{$v.oco_click}</td>
                    <td>{$v.oco_com}</td>
                    <td>{$v.oco_content}</td>
                    <td>{$v.oco_time}</td>
                    {if condition="$Think.const.ORG_ID elt 0"}<td>
                        <a href="{:url('commentEdit',['oco_id'=>$v['oco_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                        <a href="javascript:;" onclick="return del('{$v.oco_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                    </td>{/if}
                </tr>
                {/volist}
                </tbody>
            </table>

        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="page" class="page">
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN__/plugins/layui/layui.js"></script>
<script src="__STATIC__/js/jquery.2.1.1.min.js"></script>
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
    });
    function del(id) {
        layer.confirm('{:lang("Are you sure you want to delete it")}', {icon: 3}, function (index) {
            window.location.href = "{:url('commentDel')}?oco_id="+id;
        });
    }

</script>
</body>

</html>