<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>消息推送管理</title>
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/global.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
</head>

<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <a href="{:url('newsAdd')}" class="layui-btn layui-btn-small">
            <i class="fa fa-plus"></i> {:lang('add')}消息推送
        </a>
    </blockquote>
    <fieldset class="layui-elem-field ">
        <legend>消息推送{:lang('list')}</legend>
        <div class="layui-field-box table-responsive">
            <table class=" layui-table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>推送类型</th>
                    <th>推送范围</th>
                    <th>推送内容</th>
                    <th>推送时间</th>
                    <th>{:lang('action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                    <td>{$v.pco_id}</td>
                    <td>{$v.pco_type}</td>
                    <td>{if condition="$v['org_name'] neq ''"}"{$v.org_name}"圈内{else /}{$v.org_name}{/if}</td>
                    <td>{$v.pco_content}</td>
                    <td>{$v.pco_time}</td>
                    <td>
                        <a href="{:url('newsEdit',['pco_id'=>$v['pco_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                        <a href="javascript:;" onclick="return del('{$v.pco_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>

        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="page" class="page">
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN__/plugins/layui/layui.js"></script>
<script src="__STATIC__/js/jquery.2.1.1.min.js"></script>
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
    });
    function del(id) {
        layer.confirm('{:lang("Are you sure you want to delete it")}', {icon: 3}, function (index) {
            window.location.href = "{:url('news')}?pco_id="+id;
        });
    }

</script>
</body>

</html>