<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>开放日列表</title>
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/global.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
</head>

<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <a href="{:url('opendayAdd')}" class="layui-btn layui-btn-small">
            <i class="fa fa-plus"></i> {:lang('add')}开放日
        </a>
    </blockquote>
    <fieldset class="layui-elem-field ">
        <legend>开放日{:lang('list')}</legend>
        <div class="layui-field-box table-responsive">
            <table class=" layui-table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>机构</th>
                    <th>场景</th>
                    <th>开放日期</th>
                    <th>开放时间</th>
                    <th>发布时间</th>
                    <th>{:lang('action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                    <td>{$v.ope_id}</td>
                    <td>{$v.org_name}</td>
                    <td>{$v.osc_name}</td>.
                    <td>{$v.ope_date}</td>
                    <td>{$v.ope_opetime}</td>
                    <td>{$v.ope_time}</td>
                    <td>
                        <a href="{:url('opendayEdit',['ope_id'=>$v['ope_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                        <a href="javascript:;" onclick="return del('{$v.ope_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>

        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="page" class="page">
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN__/plugins/layui/layui.js"></script>
<script src="__STATIC__/js/jquery.2.1.1.min.js"></script>
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
    });
    function del(id) {
        layer.confirm('{:lang("Are you sure you want to delete it")}', {icon: 3}, function (index) {
            window.location.href = "{:url('opendayDel')}?ope_id="+id;
        });
    }

</script>
</body>

</html>